<h1>Courses</h1>

{{#if courses.length}}
<div class="row">
  {{#each courses}}
  <div class="col s4">
    <div class="card">
      <div class="card-image">
        <img height="250" src="{{imageUrl}}" alt="{{title}}">
      </div>
      <div class="card-content">
        <span class="card-title">{{title}}</span>
        <p class="price">{{price}}</p>
        <p class="course-block-link">
          <a href="/courses/{{_id}}" target="__blank">Go to course page</a>
        </p>
        {{#if @root.isAuth}}
        <p class="course-block-link">
          <a class="orange-text" href="/courses/{{_id}}/edit?allow=true">Edit course</a>
        </p>
        <p class="course-block-link">
          <form action="/card/add" method="POST">
            <input type="hidden" name="_id" value="{{_id}}">
            <button type="submit" class="waves-effect waves-light btn-small">Add to card</button>
          </form>
        </p>
        {{/if}}
      </div>
    </div>
  </div>
  {{/each}}
{{else}}
  <p>No courses</p>
</div>
{{/if}}