<h1>Profile</h1>

<div class="row">
  <div class="col s6">
    <div class="row">
      <div class="col s12">
        {{#if user.avatarUrl}}
          <img 
            class="responsive-img" 
            src="/{{user.avatarUrl}}" 
            alt="avatar-{{user.name}}"
          >
        {{else}}
          <p class="card-content">No avatar</p>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="col s6">
    <form action="/profile" method="POST" enctype="multipart/form-data">
      <p class="section">Your email: <strong class="right">{{user.email}}</strong></p>

      <div class="input-field">
        <input id="name" value="{{user.name}}" name="name" type="text" class="validate" required>
        <label for="name">Username</label>
        <span class="helper-text" data-error="User name is not correct"></span>
      </div>

      <div class="file-field input-field">
        <div class="btn">
          <span>Avatar</span>
          <input type="file" name="avatar">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>

      <input type="hidden" name="_csrf" value="{{csrf}}">

      <p class="section">
        <button class="btn green" type="submit">Save changes</button>
      </p>

    </form>
  </div>
</div>